<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <import resource="classpath:dao/dao.xml"/>
    <import resource="classpath:dao/datasource.xml"/>
    <import resource="classpath:dao/init-data.xml"/>
    <import resource="classpath:service/spring-service.xml"/>
</beans>